@charset "UTF-8";
@font-face {
  font-family: fuente-base;
  src: url(../../assets/fonts/JosefinSans-SemiBold.ttf); }

@font-face {
  font-family: fuente-gc;
  src: url(../../assets/fonts/ethnocentric.rg-regular.otf); }

* {
  padding: 0;
  margin: 0;
  font-family: fuente-base; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  background-color: #e17b45; }

.oferta {
  border: 2px solid #e17b45;
  width: 95vw;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  font-size: 18px;
  font-family: fuente-gc; }

h1 {
  font-family: fuente-gc;
  margin: 16px; }

.body-page {
  min-height: 800px;
  background-color: #e4e8f4; }

.logo {
  width: 64px;
  height: 64px;
  margin: 16px; }

.header {
  display: flex;
  justify-content: space-between;
  background-color: #d0ac7a;
  align-items: center;
  padding-right: 16px; }

.barra-navegacion-header {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px; }

.link-header {
  color: black;
  font-size: 16px;
  margin: 16px;
  font-family: fuente-gc; }

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #d0ac7a;
  padding: 8px;
  justify-content: space-around; }

.link-footer {
  color: black;
  font-size: 10px;
  list-style-type: none; }

.h {
  text-align: center;
  font-family: fuente-gc; }

.slogan-index {
  margin: 16px; }

.core-index {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 16px;
  justify-content: space-evenly;
  text-align: unset; }

.texto-index {
  font-family: fuente-base;
  font-size: 24px;
  width: 360px; }

.remeras-main {
  height: 360px;
  width: 360px;
  justify-content: center; }

.catalogo__h1 {
  margin-left: 2.5vw; }

.mp-catalogo {
  min-height: 600px; }

.accordion-button {
  background-color: #959d9e; }

.accordion-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  background-color: #e4e8f4; }

.card-img-top {
  display: block;
  max-width: 225px;
  max-height: 300px;
  width: auto;
  height: auto;
  /* Quise dejar las imagenes centradas dentro de la tarjeta y no pude, intente con flex y nada, como lo solucionarias? */ }

.catalogo__texto-niños {
  font-size: xx-large; }

.nm__grilla {
  max-width: 95vw;
  margin: auto;
  margin-top: 1vh;
  display: grid;
  max-height: 800px;
  grid-template-areas: "slogan slogan logo" "texto texto texto" "texto texto texto";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.nm__slogan {
  grid-area: slogan;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(0deg); }
  55% {
    transform: rotate(5deg); }
  85% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

.nm__img-logo {
  grid-area: logo;
  max-height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation: wiggle 2s infinite; }

.nm__texto-marca {
  grid-area: texto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  font-size: 24px;
  padding: 20px; }

.td {
  border: 2px solid #925632;
  text-align: center;
  padding: 5px; }

.tabla-talles-torso {
  /* font-family: intro-index; (NO LO PUEDO CORREGIR/PISAR, AYUDA) */
  border: 6px solid #925632;
  padding: 2px; }

.talles-mujeres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.foto-talle-mujer {
  width: 25%;
  height: 25%;
  justify-content: center; }

.talles-hombres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.foto-talle-hombre {
  width: 25%;
  height: 25%;
  justify-content: center; }

.main-talles {
  margin: 8px; }

.h3-talles {
  margin: 8px;
  font-family: fuente-gc; }

.formulario {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.casilla-formulario {
  width: 360px;
  margin: 8px; }

.casilla-formulario-mensaje {
  width: 360px;
  height: 160px;
  margin: 8px;
  /* COMO PUEDO HACER PARA QUE EL TEXTO PLACEHOLDER QUEDE ALINEADO AL INICIO Y NO CENTRADO? */ }

.boton-enviar {
  width: 240px;
  background-color: aqua; }

.h5-formulario {
  margin: 8px; }

@media (max-width: 421px) {
  * {
    font-size: xx -small; }
  .link-header {
    font-size: 8px; }
  .header {
    flex-direction: row-reverse; }
  .barra-navegacion-header {
    flex-direction: column; }
  .link-header {
    margin: 4px; }
  .logo {
    margin: 4px; }
  .footer {
    flex-wrap: nowrap; }
  .h {
    font-size: 12px; }
  .oferta {
    font-size: 8px; }
  .core-index {
    flex-direction: column-reverse; }
  .h3-talles {
    font-size: 18px; }
  .tabla-talles-torso {
    font-size: 8px; }
  .talles-mujeres {
    align-items: center; }
  .talles-hombres {
    align-items: center; }
  .h1-formulario {
    font-size: 18px; }
  .h5-formulario {
    font-size: 12px; }
  .casilla-formulario {
    font-size: 12px; }
  .casilla-formulario-mensaje {
    font-size: 12px; } }
