.formulario{
    margin: 16px;
}

.casilla-formulario{
    width: 360px;
    margin: 4px;
}

.casilla-formulario-mensaje{
    width: 360px;
    height: 160px;
    margin: 4px;
    /* COMO PUEDO HACER PARA QUE EL TEXTO PLACEHOLDER QUEDE ALINEADO AL INICIO Y NO CENTRADO? */
}