@font-face {
    font-family: fuente-base;
    src: url(../../assets/fonts/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: fuente-gc;
    src: url(../../assets/fonts/ethnocentric.rg-regular.otf);
}

