.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $arena;
    padding: 8px;
    justify-content: space-around;
}

.link-footer {
    color: black;
    font-size: 10px;
    list-style-type: none;
}

.h {
    text-align: center;
    font-family: fuente-gc;
}