.logo {
    width: 64px;
    height: 64px;
    margin: 16px;
}

.a:hover {
    background-color: $ladrillo;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: $arena;
    align-items: center;
    padding-right: 16px;
}

.barra-navegacion-header {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.link-header {
    color: black;
    font-size: 16px;
    margin: 16px;
    font-family: fuente-gc;
}