.slogan-index {
    margin: 16px;
}

.core-index {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px;
    justify-content: space-evenly;
    text-align: unset;
}

.texto-index {
    font-family: intro-index;
    font-size: 24px;
    width: 360px;
}

.remeras-main {
    height: 360px;
    width: 360px;
    justify-content: center;
}