@media (max-width: 421px) {
    * {
        font-size: xx -small;
    }

    .link-header {
        font-size: 8px;
    }

    .header {
        flex-direction: row-reverse;
    }

    .barra-navegacion-header {
        flex-direction: column;
    }

    .link-header {
        margin: 4px;
    }

    .logo {
        margin: 4px;
    }

    .footer {
        flex-wrap: nowrap;
    }

    .h {
        font-size: 12px;
    }

    .oferta {
        font-size: 8px;
    }

    .core-index {
        flex-direction: column-reverse;
    }

    .h3-talles {
        font-size: 18px;
    }

    .tabla-talles-torso {
        font-size: 8px;
    }

    .talles-mujeres {
        align-items: center;
    }

    .talles-hombres {
        align-items: center;
    }

    .h1-formulario {
        font-size: 18px;
    }

    .h5-formulario {
        font-size: 12px;
    }

    .casilla-formulario {
        font-size: 12px;
    }

    .casilla-formulario-mensaje {
        font-size: 12px;
    }
}