
.nm__grilla{
    max-width: 95vw;
    margin: auto;
    margin-top: 1vh;
    display: grid;
    max-height: 800px;
    grid-template-areas: 
    "slogan slogan logo"
    "texto texto texto"
    "texto texto texto"
    "texto texto texto"
    "texto texto texto";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.nm__slogan{
    background-color: aqua;
    grid-area: slogan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nm__img-logo{
    background-color: brown;
    grid-area: logo;
    max-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nm__texto-marca{
    background-color: chartreuse;
    grid-area: texto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}